--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.12.1
torchvision==0.13.1
transformers==4.28.0
tqdm
decord
timm
einops
opencv_python
torchvision

salesforce-lavis
bitsandbytes
accelerate